* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Exo";
  font-display: swap;
  src: url("../fonts/Exo2.0-Bold.woff") format("woff"), url("../fonts/Exo2.0-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  font-display: swap;
  src: url("../fonts/Exo2.0-Regular.woff") format("woff"), url("../fonts/Exo2.0-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  font-display: swap;
  src: url("../fonts/Exo2.0-SemiBold.woff") format("woff"), url("../fonts/Exo2.0-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Coco";
  font-display: swap;
  src: url("../fonts/Cocon-Regular_font.woff") format("woff"), url("../fonts/Cocon-Regular_font.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #241537;
}

body input {
  width: 292px;
  height: 42px;
  border-radius: 10px;
  z-index: 10;
}

body .button {
  background-image: url("../img/button.png");
  width: 195px;
  height: 42px;
  border-radius: 22px;
  font-family: "Exo";
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  text-shadow: -1px 2px 0px rgba(147, 68, 18, 0.25);
  color: #ffffff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  margin-left: 50px;
  margin-top: 27px;
  z-index: 10;
}

body .button:hover {
  background-image: url("../img/button_hover.png");
}

.bg__gradient {
  max-width: 1920px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#510564), color-stop(50%, #241537), to(#241537));
  background: -o-linear-gradient(bottom, #510564 0%, #241537 50%, #241537 100%);
  background: linear-gradient(0deg, #510564 0%, #241537 50%, #241537 100%);
}

.bg__spash {
  background-image: url("../img/screen_2/violet_splash_near_form.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("../img/Header/space_big_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../img/Header/Logo_BG_header.png");
  background-repeat: no-repeat;
  background-position: 20% 0%;
}

.header__logo {
  width: 41%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 26px;
  background-repeat: no-repeat;
  background-position: 19% 0;
}

.header__logo img {
  padding-top: 16px;
  padding-left: 75px;
}

.header__logo a {
  font-family: "Coco";
  font-size: 50px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -2px 4px 0px rgba(102, 64, 87, 0.31);
  color: #ffffff;
}

.header__logo a:nth-child(3) {
  padding-left: 33px;
}

.header__planet-green {
  padding-left: 28.5%;
}

.header__cloud-planet {
  padding-top: 80px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  text-align: center;
  font-family: 'Coco';
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: #241537;
}

.header__title span:nth-child(1) {
  display: block;
  background-image: url("../img/Header/arrow_near_text.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 10px;
}

.header__title span:nth-child(3) {
  display: block;
  line-height: 30px;
  color: #fdb000;
}

.header__body {
  margin-top: 45px;
}

.header__body-bg {
  background-image: url("../img/Header/bg_form_header.png");
  background-repeat: no-repeat;
  background-position: 25% 0%;
}

.header__text {
  width: 54%;
}

.header__text h2 {
  font-family: 'Exo';
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
}

.header__text h2 span {
  font-weight: 600;
  color: #ffd34e;
}

.header__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  height: 130px;
}

.header__green-planet {
  padding-bottom: 20px;
}

.header__red-planet {
  padding-bottom: 88px;
  padding-right: 50px;
}

.header__orange-planet {
  padding-right: 7.3%;
  margin-bottom: -28px;
}

.header__form {
  width: 405px;
  height: 234px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: 'Exo';
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-left: 170px;
  padding-top: 5px;
  padding-left: 100px;
}

.header__img-wooman {
  z-index: 5;
  margin-top: -115px;
  margin-left: 78px;
}

.header__planets-stars {
  padding-top: 66px;
  padding-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 77.8%;
}

.header__planets-stars img {
  margin: 0 auto;
}

.main {
  color: #ffffff;
  font-family: 'Exo';
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 105px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__planet-comets {
  margin-top: -104px;
  margin-bottom: -152px;
  margin-left: 62px;
}

.main__arrow {
  width: 39.5%;
  margin-left: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -110px;
}

.main__arrow-1 {
  margin-top: 20px;
}

.main__arrow-3 {
  margin-top: 10px;
}

.main__arrow-4 {
  margin-top: 25px;
}

.main__subtitle {
  font-family: 'Coco';
  font-size: 30px;
  height: 57px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ebdae6;
  background-color: #5a116a;
  border-radius: 28.5px;
  padding: 12px 72px 0 72px;
  margin: 0 5px 0 5px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -25px;
  padding: 0 20px 0 5px;
}

.main__card {
  width: 265px;
  height: 265px;
  background-color: #401751;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.main__card img {
  width: 65px;
  height: 65px;
  padding-bottom: 10px;
  margin-right: 5px;
}

.main__card p {
  padding-top: 17px;
}

.main__card span {
  color: #ffed4e;
}

.main__title {
  font-size: 30px;
  line-height: 35px;
  padding-top: 80px;
  text-align: center;
}

.main__title span {
  color: #ffd34e;
}

.main__title span:nth-child(2) {
  font-weight: 700;
}

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
}

.main__moon-cloud {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__moon {
  margin-top: 11px;
  margin-left: 37px;
}

.main__cloud-l {
  margin-left: -130px;
  padding-bottom: 14px;
}

.main__astronaut {
  margin-top: 75px;
  margin-right: -15px;
}

.main__small-star {
  display: none;
}

.main__arrow-mb {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
  display: none;
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__form form {
  background-color: rgba(220, 134, 255, 0.1);
  width: 375px;
  height: 242px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  padding-top: 9px;
  padding-left: 40px;
}

.main__form img {
  padding-top: 72px;
  padding-right: 40px;
}

.main button {
  margin-left: 50px;
  margin-top: 26px;
}

.main__wrap-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  width: 79%;
}

.main__stars-form {
  padding-top: 35px;
}

.main__orange-planet {
  padding-left: 160px;
  padding-top: 25px;
}

.main__man {
  margin-top: -25px;
  margin-left: 17px;
}

.main__card-style {
  padding-left: 39px;
}

.main__cloud-mb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__cloud-mb img {
  width: 74px;
  height: 31px;
  opacity: 0.5;
  margin-left: -64px;
}

.main__green_planet {
  display: none;
}

.footer {
  font-family: "Exo";
  background-image: url("../img/Footer/BG_clouds_stars_footer.png");
  background-position: 100% 100%;
  padding-bottom: 420px;
}

.footer__horizon {
  padding-top: 18px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 66%;
  padding-bottom: 55px;
}

.footer__text h5 {
  font-size: 36px;
  line-height: 35px;
  color: #ffd34e;
  text-align: center;
}

.footer__text span {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1760px) {
  .header {
    background-size: 100%;
  }

  .main__cloud-l {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .main__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .main__header img {
    display: none;
  }

  .main__arrow {
    display: none;
  }

  .main__row {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__card-wrap {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
  }

  .main__man img {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__cloud {
    display: none;
  }

  .main__astronaut {
    padding-left: 14%;
  }

  .main__man img {
    display: none;
  }
}

@media (max-width: 768px) {
  body .button {
    margin-left: 28px;
  }

  .header {
    background-size: 200%;
    background-position: 60% 100%;
  }

  .header__logo a {
    font-size: 30px;
    line-height: 30px;
  }

  .header__planet-green {
    padding: 0;
  }

  .header__body {
    margin-top: -20px;
  }

  .header__body-bg {
    background-position: 25% 15%;
  }

  .header__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 230px;
  }

  .header__slogan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 280px;
  }

  .header__green-planet {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .header__red-planet {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 70%;
  }

  .header__orange-planet {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__img-wooman {
    display: none;
  }

  .main__card-wrap {
    width: 100%;
  }

  .main__title {
    padding: 80px 55px 0 55px;
  }

  .main__moon {
    margin: -30px 0 -43px 130px;
  }

  .main__cloud {
    display: none;
  }

  .main__cloud-l {
    display: none;
  }

  .main__form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .main__stars-form {
    padding: 0;
    margin-top: -310px;
    margin-left: 200px;
  }

  .main__orange-planet {
    display: none;
  }

  .main__green_planet {
    display: inline-block;
    margin-left: -74px;
  }

  .footer {
    padding-bottom: 350px;
  }

  .footer__horizon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
  }

  .footer__stars {
    margin-top: -100px;
    margin-right: 13px;
  }

  .footer__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
  }

  .footer__planet {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 126px;
    height: 128px;
    margin-top: -70px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .header__top {
    background-position: 100% 0%;
  }

  .header__form {
    padding-left: 34px;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 300px;
  }

  .header__form input {
    width: 252px;
  }

  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__moon-cloud {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .main__astronaut {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 0;
    padding: 0;
    margin-right: 100px;
  }

  .main__small-star {
    display: inline-block;
  }

  .main__arrow-mb {
    display: inline-block;
  }

  .main__form img {
    display: none;
  }
}

@media (max-width: 576px) {
  body input {
    width: 252px;
  }

  .header {
    background-size: 400%;
    background-position: 65% 100%;
  }

  .header__logo img {
    padding-left: 35px;
  }

  .header__logo {
    padding-left: 29px;
  }

  .header__planet-green {
    margin-left: -180px;
  }

  .header__cloud-planet {
    width: 0%;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 30px;
  }

  .header__title {
    font-size: 24px;
    line-height: 25px;
  }

  .header__title span {
    font-size: 20px;
  }

  .header__body-bg {
    background-size: 520px 400px;
    background-position: 25% 23%;
  }

  .header__text h2 {
    font-size: 18px;
    line-height: 18px;
  }

  .main__planet-comets {
    margin-left: 0;
    width: 277px;
  }

  .main__subtitle {
    padding: 16px 42px 0 42px;
    font-size: 24px;
  }

  .main__title {
    font-size: 24px;
    line-height: 35px;
    padding: 80px 25px 0 25px;
  }

  .main__astronaut {
    margin-right: 35px;
    padding-top: 15px;
  }

  .main__form form {
    width: 320px;
  }

  .main__stars-form {
    margin-left: 100px;
    margin-top: -280px;
  }

  .footer {
    background-position: 45% 100%;
  }
}

@media (max-width: 420px) {
  .main__stars-form {
    margin-top: -320px;
  }
}

@media (max-width: 381px) {
  .header__red-planet {
    width: 100%;
    padding-right: 20px;
  }

  .main__moon {
    display: none;
  }
}

@media (max-width: 362px) {
  .header__logo img {
    padding-left: 10px;
  }

  .header__logo {
    padding-left: 0;
  }

  .header__planet-green {
    margin-left: -140px;
  }
}